
body {
    background-color: #efefef !important;
}
.p-3 {
    padding: 1rem;
}
.px-3 {
    padding: 0 1rem;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.my-3 {
    margin: 1rem 0;
}
.pe-2{
    padding-right: 0.5rem;
}
.mx-2 {
    margin: 0 0.5rem;
}

.mx-3 {
    margin: 1rem;
}

.py-3 {
    padding: 1rem 0;
}

.ps-3 {
    padding-left: 1rem;
}

.border-1 {
    border: 1px solid #ccc;
}

.font-size-24 {
    font-size: 24px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-13 {
    font-size: 13px;
}

.position-relative {
    position: relative;
}

.shadow-right {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.rounded {
    border-radius: 8px;
}

.fw-bold {
    font-weight: 700;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    text-align: center;
}

.text-ellipsis-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.container {
    max-width: 1366px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.badge {
    position: absolute;
    content: '';
    background-color: #ff0000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: -5px;
    right: 0;
}

.font-size-12 {
    font-size: 12px;
}

.bg-light {
    background-color: #fff;
}

.custom-hr {
    background-color: #f1f1f1;
    height: 0.5px;
}

.w-100 {
    width: 100%;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.font-size-16 {
    font-size: 16px;
}