.custom-menu-ant {
  .ant-menu-overflow-item {
    padding: 8 !important;

  }

  .ant-menu-item {
    padding: 0 8px !important;
    &::after {
    border: none !important;
    }
  }
  .ant-menu-title-content {
    font-weight: 500;
    font-size: 16px;
  }
  .ant-menu-horizontal > .ant-menu-item-selected::after {
    width: 50px;
    height: 4px;
    background: #1890ff;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ant-menu-horizontal > .ant-menu-item:hover::after {
    width: 50px;
    height: 4px;
    background: #1890ff;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}